body.deck-container {
  margin: 0;
  padding: 0; }

.deck-container {
  font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0; }
  .deck-container section.slide {
    background: #fff;
    width: 80%;
    vertical-align: center;
    padding: 5% 10%; }
    .deck-container section.slide.title {
      background: #222222;
      color: #fff;
      padding: 0;
      width: 100%; }
      .deck-container section.slide.title h1 {
        color: white; }
  .deck-container h1 {
    color: #ad141e; }
  .deck-container h2 {
    color: #ad141e;
    border-bottom: 0; }
  .deck-container h3 {
    color: #2f2f2f; }
  .deck-container code {
    font-family: "Anonymous Pro";
    color: #222222; }
    .deck-container code span {
      color: #ad141e; }
  .deck-container blockquote {
    font-size: 2em;
    font-style: italic;
    padding: 1em 2em;
    color: #000;
    border-left: 5px solid #ccc; }
    .deck-container blockquote p {
      margin: 0; }
    .deck-container blockquote cite {
      font-size: .5em;
      font-style: normal;
      font-weight: bold;
      color: #888; }
  .deck-container ::-moz-selection {
    background: #c00;
    color: #fff; }
  .deck-container ::selection {
    background: #c00;
    color: #fff; }
  .deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
    color: #c00;
    text-decoration: none; }
  .deck-container a:hover, .deck-container a:focus {
    text-decoration: underline; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #ccc;
    font-family: serif; }
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      background: #c00;
      text-decoration: none; }
  .deck-container .deck-status {
    font-size: 0.6666em; }
  .deck-container.deck-menu .slide {
    background: #eee; }
  .deck-container.deck-menu .deck-current {
    background: #ddf; }
