#who {
  background: url('thoughtbot.png') no-repeat 70% 70%;
}

#radish {
  background: url('radish.png') no-repeat 50% 0;
}

#radish2 {
  background: url('radish2.png') no-repeat 50% 0;
}

pre, code {
  font-family: 'Anonymous Pro', 'Menlo', 'Bitstream Vera Sans Mono', 'Courier', monospace !important;
  font-weight: normal !important;
}
